{
  "title": "External Resource(ports) Access Test",
  "col_list": [
    {
      "name": "test_host",
      "display": "HOST",
      "desc": "This is the test hosp",
      "type": "info"
    },
    {
      "name": "target_url",
      "display": "TARGET HOST",
      "desc": "target resource url",
      "type": "info"
    },
    {
      "name": "target_port",
      "display": "TARGET PORT",
      "desc": "target resource port",
      "type": "info"
    },
    {
      "name": "result",
      "display": "RESULT",
      "desc": "show the accessiblity test result",
      "type": "result"
    }
  ],
  "result_files": {
    "1": {
      "col_order": [
          "test_host",
          "target_url",
          "target_port",
          "result"
      ]
    }
  },
  "result_type": {
    "open": "SUCCESS",
    "close": "FAIL"
  }
}
