{
  "title": "OpenShift Container Platform SDN tunneling Test",
  "col_list": [
    {
      "name": "test_host",
      "display": "HOST",
      "desc": "This is the test hosp",
      "type": "info"
    },
    {
      "name": "target_ip",
      "display": "TARGET IP",
      "desc": "target resource IP",
      "type": "info"
    },
    {
      "name": "result",
      "display": "RESULT",
      "desc": "show the accessiblity test result",
      "type": "result"
    }
  ],
  "result_files": {
    "1": {
      "col_order": [
          "test_host",
          "target_ip",
          "result"
      ]
    }
  },
  "result_type": {
    "SUCCESS": "SUCCESS",
    "FAIL": "FAIL"
  }
}
