{
  "title": "SQUID Status Check Test",
  "col_list": [
    {
      "name": "test_target",
      "display": "TEST TARGET",
      "desc": "This is the test hosp",
      "type": "info"
    },
    {
      "name": "result",
      "display": "RESULT",
      "desc": "test result",
      "type": "result"
    }
  ],
  "result_files": {
    "1": {
      "col_order": [
          "test_target",
          "result"
      ]
    }
  }
}
