{
  "title": "EAP S2I Build Test(SSL)",
  "col_list": [
    {
      "name": "result",
      "display": "RESULT",
      "desc": "show the test result",
      "type": "result"
    }
  ],
  "result_files": {
    "1": {
      "col_order": [
          "result"
      ]
    }
  }
}
