{
  "title": "Local Storage Usage Test",
  "col_list": [
    {
      "name": "test_host",
      "display": "HOST",
      "desc": "This is the test host",
      "type": "info"
    },
    {
      "name": "vol_path",
      "display": "FOLDER",
      "desc": "volume path",
      "type": "info"
    },
    {
      "name": "usage",
      "display": "USAGE",
      "desc": "usage",
      "type": "info"
    },
    {
      "name": "severity",
      "display": "SEVERITY",
      "desc": "severity level",
      "type": "result"
    }
  ],
  "result_files": {
    "1": {
      "col_order": [
         "test_host",
         "vol_path",
         "usage",
         "severity"
      ]
    }
  },
  "result_type": {
    "FAIL": "FAIL",
    "WARN": "WARN",
    "INFO": "INFO"
  }
}
