
#!/usr/bin/bash
result_filename="{{regression_result_path}}/{{ role_path|basename }}_result_1"
raw_filename="{{regression_result_path}}/{{inventory_hostname}}/{{regression_result_path}}/{{ role_path|basename }}_raw_1"
raw_sort_filename="{{regression_result_path}}/{{inventory_hostname}}/{{regression_result_path}}/{{ role_path|basename }}_raw_sort_1"
cat ${raw_filename} | sort --key 5 -g -r > ${raw_sort_filename}
while read -r line
do
    percentage=$(echo $line|awk '{print $5}'|tr -d "%")
    percentage=$(( $percentage + 0 ))
    
    if [ $percentage -eq 100  ]
    then
      echo $line |awk '{print "{{inventory_hostname}} " $6 " " $5 " FAIL" }' >> ${result_filename}_temp
    elif [ $percentage -lt 99 ] && [ $percentage -gt 80 ]
    then
      echo $line |awk '{print "{{inventory_hostname}} " $6 " " $5 " WARN" }'  >> ${result_filename}_temp
    elif [ $percentage -lt 79 ] && [ $percentage -gt 70 ]
    then
      echo $line |awk '{print "{{inventory_hostname}} " $6 " " $5 " INFO" }'  >> ${result_filename}_temp
    fi
done < $raw_sort_filename

cat ${result_filename}_temp | sort > ${result_filename}
