{
  "title": "Node Status Check Test",
  "col_list": [
    {
      "name": "test_host",
      "display": "HOST",
      "desc": "This is the test hosp",
      "type": "info"
    },
    {
      "name": "result",
      "display": "RESULT",
      "desc": "show the status of node",
      "type": "result"
    }
  ],
  "result_files": {
    "1": {
      "col_order": [
          "test_host",
          "result"
      ]
    }
  },
  "result_type": {
    "Ready": "SUCCESS",
    "Ready,SchedulingDisabled": "SUCCESS",
    "NotReady": "FAIL"
  }
}
