{
  "title": "Openshift Ex Dignostic Test",
  "col_list": [
    {
      "name": "result",
      "display": "RESULT",
      "desc": "show the accessiblity test result",
      "type": "result"
    },
    {
      "name": "issue_count",
      "display": "COUNT",
      "desc": "This is the count that ocp dignostic found",
      "type": "info"
    }
  ],
  "result_files": {
    "1": {
      "col_order": [
          "result",
          "issue_count"
      ]
    }
  },
  "result_type": {
    "Warnings": "SUCCESS",
    "Errors": "FAIL"
  }
}
